html, body {
   margin: 0;
   height: 100%;
}
#section1 {
  position: relative;
  height: 300vh;
  border:5px solid black;
}
#c {
   width: 100%;
   display: block;
   position: sticky;
   top:0;
}
#slide {
  position: absolute;
  top: 0;
  height: 300vh;
  width: 100vw;
}
#section2 {
  height: 200vh;
  background-color: red;
}
